<h3>Editar Producto</h3>

<div class="container">
  <ol class="breadcrumb">
    <li><a href="/products">Listado de Productos</a></li>
    <li>Edicion de Producto</li>
  </ol>
</div>

<%if current_user.id_rol == 1 %>
  <%= render 'form' %>
<%end %>