<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Signin Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag "flatfy.css" %>
    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "signin.css" %>
</head>

<body style="background-image" class="devise-body">
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>